<!DOCTYPE html>
<html lang="en">
<head>
  <title>company profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>




<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
  </ul>
</nav>



<div id="demo" class="carousel slide" data-ride="carousel">

	<!-- Indicators -->
	<ul class="carousel-indicators">
	  <li data-target="#demo" data-slide-to="0" class="active"></li>
	  <li data-target="#demo" data-slide-to="1"></li>
	  <li data-target="#demo" data-slide-to="2"></li>
	</ul>
  
	<!-- The slideshow -->
	<div class="carousel-inner">
	  <div class="carousel-item active">
		<img src="jaipur.jpg" alt="Los Angeles" width="">
	  </div>
	  <div class="carousel-item">
		<img src="jaipur.jpg" alt="Chicago">
	  </div>
	  <div class="carousel-item">
		<img src="jaipur.jpg" alt="New York">
	  </div>
	</div>
  
	<!-- Left and right controls -->
	<a class="carousel-control-prev" href="#demo" data-slide="prev">
	  <span class="carousel-control-prev-icon"></span>
	</a>
	<a class="carousel-control-next" href="#demo" data-slide="next">
	  <span class="carousel-control-next-icon"></span>
	</a>
  
  </div >
 
  <div class="jumbotron">
	
	









	<div class="container">
		<div class="row">
		  <div class="col-sm-8">
			 <h1>My Details</h1>
			

			    <ul class="list-group">
			    	<li class="list-group-item">First item</li>
			    	<li class="list-group-item">Second item</li>
			    	 <li class="list-group-item">First item</li>
			    	<li class="list-group-item">Second item</li>
			    	<li class="list-group-item">Third item</li>
			    </ul>











			 <p>Lorem ipsum dolor..</p>
		  </div>
		  <div class="col-sm-4">
			  <img alt="profile photo of company" src="jaipur.jpg" > 
			
		  </div>
		  
		</div>
	</div>

















  </div>


  <div class="container">
	<div class="row">
	  <div class="col-sm-4">
		<div class="card" style="width:400px">
			<div class="card-body">
			  <h4 class="card-title">Jane Doe</h4>
			  <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
			  <a href="#" class="btn btn-primary">See Details</a>
			</div>
			<img class="card-img-bottom" src="img_avatar6.png" alt="Card image" style="width:100%">
		  </div>
	  </div>
	  <div class="col-sm-4">
		<div class="card" style="width:400px">
			<div class="card-body">
			  <h4 class="card-title">Jane Doe</h4>
			  <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
			  <a href="#" class="btn btn-primary">See Details</a>
			</div>
			<img class="card-img-bottom" src="img_avatar6.png" alt="Card image" style="width:100%">
		  </div>
	  </div>
	  <div class="col-sm-4">
		<div class="card" style="width:400px">
			<div class="card-body">
			  <h4 class="card-title">Jane Doe</h4>
			  <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
			  <a href="#" class="btn btn-primary">See Details</a>
			</div>
			<img class="card-img-bottom" src="img_avatar6.png" alt="Card image" style="width:100%">
		  </div>
	  </div>
	</div>
  </div>










</body>
</html>
 