<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>Developer</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  
    <style>
      .my-col{
        border: 1px;
      }
    </style>
</head>
<body>

  <!--Navigation-->
    <nav class="navbar navbar-expand-md navbar-light bg-light static-top">
       <div class="container-fluid">
        <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand" href="#"><h3>
            <img src="img.jpg" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
            Stark Industries</h3>
          </a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                
                  <li class="nav-item">
                    <a class="nav-link" href="#">Company <span class="sr-only">(current)</span></a>
            </li>
            
           <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    
                      <li class="nav-item">
                      
                        <div class="d-flex flex-row">
                        <a class="nav-link" href="#">Portfolio<span class="sr-only">(current)</span></a>
                      
                    </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Connect
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Referals</a>
                <a class="dropdown-item" href="#">Guidance</a>
                <a class="dropdown-item" href="#">Blogs</a>
              </div>
            </li>
          </ul>

      
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="search" aria-label="Search">
    <button class="btn btn-outline-success" >Search</button>
  </form>

  <button class="btn btn-outline-success" >Logout</button>

        </nav>



</nav>

<div class="jumbotron">
<div class="container">
  <div class="row my-row">
    <div class="col-md-8 my-col">
  <h2>Hola developer</h2>
    </div>
    <div class="col-md-4 my-col">
  <h2>Recent</h2>
  <p>
    <ul>
      <li>
        Goldman sachs Sde Test
      </li>
      <li>
        Wells fargo exp dev Test
      </li>
      <li>
        Microsoft
      </li>
    </ul>
  </p>

    </div>
    
  </div>
</div>
<div>



  <div class="modal-header">
    <h5 class="modal-title" id="loginModalHeader">Login</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form action="/login" method="POST">
      <div class="form-group">
        <label for="email">Email address:</label>
        <input name="email" type="email" class="form-control" placeholder="Enter email" id="email" />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input name="password" type="password" class="form-control" placeholder="Enter password" id="password" />
      </div>
      <!--<div class="form-group form-check">
        <label class="form-check-label"> <input class="form-check-input" type="checkbox" /> Remember me </label>
      </div>-->
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
</div>
</div>
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModal" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content rounded">
  <div class="modal-header">
    <h5 class="modal-title" id="signupModalHeader">Signup</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form action="/register" method="POST">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input name="firstName" type="text" class="form-control" placeholder="Enter your First Name" id="firstName" />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input name="lastName" type="text" class="form-control" placeholder="Enter your Last Name" id="lastName" />
      </div>
      <div class="form-group">
        <label for="email">Email address:</label>
        <input name="email" type="email" class="form-control" placeholder="Enter email" id="email" />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input name="password" type="password" class="form-control" placeholder="Enter password" id="password" />











</div>








</body>
</html>