<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>Developer</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>

  <body>
    <!--Navigation-->

    <nav class="navbar navbar-expand-md navbar-light bg-light static-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <h3>hello Developer</h3>
        </a>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarToggler">
          <form action="/logout" id="logout" method="POST">
            <button class="btn btn-outline-success mx-2" type="submit" onclick="document.getElementById('logout')">Logout</button>
          </form>
        </div>
      </div>
    </nav>
    <!--modal-->
    <div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <div class="md-form mb-5">
              <i class="fas fa-user prefix grey-text"></i>
              <input type="text" id="orangeForm-name" class="form-control validate" />
              <label data-error="wrong" data-success="right" for="orangeForm-name">Your name</label>
            </div>
            <div class="md-form mb-5">
              <i class="fas fa-envelope prefix grey-text"></i>
              <input type="email" id="orangeForm-email" class="form-control validate" />
              <label data-error="wrong" data-success="right" for="orangeForm-email">Your email</label>
            </div>

            <div class="md-form mb-4">
              <i class="fas fa-lock prefix grey-text"></i>
              <input type="password" id="orangeForm-pass" class="form-control validate" />
              <label data-error="wrong" data-success="right" for="orangeForm-pass">Your password</label>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button class="btn btn-deep-orange">Sign up</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <br />
          <br />
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSN5jUJKPKak2gtSdLwDscBINML-e6IKLCyOg&usqp=CAU"
            class="rounded-circle"
            alt="Cinque Terre"
            width="100%"
          />
        </div>

        <div class="col-sm-9">
          <br />
          <br />

          <div class="row">
            <div class="col-sm-4">
              <h1>Name Khandelwal</h1>
            </div>
            <div class="col-sm-8">
              <button type="button" class="btn btn-primary">Edit Profile</button>
              <button type="button" class="btn btn-info">Info</button>
            </div>
          </div>

          <h4>New York, YashianLand</h4>
          <button data-toggle="collapse" data-target="#demo" class="btn btn-primary">Collapsible</button>

          <div id="demo" class="collapse">Lorem ipsum dolor text....</div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="container">
      <div class="row">
        <div class="col">
          <p><b>Acheivement</b></p>
          <p>Lorem</p>
        </div>
        <div class="col">
          <p><b>Acheivement</b></p>
          <p>Lorem</p>
        </div>
        <div class="col">
          <p><b>Acheivement</b></p>
          <p>Lorem</p>
        </div>
      </div>
    </div>
  </body>
  <script src="/public/javascript/devProfile.js">

  </script>
</html>
