body {
  font-family: 'Raleway', sans-serif;
  background-color: #f7fbfc;
}

nav{
	background-color: #769fcd;
}

nav .sub{
	border: #b9d7ea solid 2px;
}
nav .sub:hover{
	background-color: #b9d7ea;
	border: #b9d7ea solid 2px;
}
.btn-primary:hover{
	background-color: #2f00ff;
}

.card{
	background-color: #d6e6f2a8;
}

.update-card .card-header{
	background-color:#769fcd;
}

.update-card .card-body{
	background-color:#d6e6f2ad;
}

.update-card a{
	text-decoration: none;
	color: #769fcd;
}